.userContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputStyle {
  height: 1.7rem;
  width: 15rem;
  margin-top: 1.4rem;
  outline: none;
}

.buttonStyle {
  height: 1.5rem;
  width: 10rem;
  margin-top: 1rem;
}

.error {
  color: rgb(229, 93, 93);
  font-size: 2rem;
  font-weight: 600;
}

.success {
  color: rgb(78, 187, 78);
  font-size: 2rem;
  font-weight: 600;
}
